.Spinning-Image {
  animation: App-logo-spin infinite 3s linear;
  height: 25vh;
  margin-bottom: 12vh;
  max-width: 90vw;
  object-fit: cover;
}

.Home{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
