a {
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 40vh;
  margin-bottom: 12vh;
}

.App-header {
  background-color: #6A1B9A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  margin-bottom: -3vh;
  color: pink;
}
h5 {
  margin-bottom: 15vh;
}

.imgLink {
  max-height: 10vmin;
}

.imgLinkItem {
  display: inline-block;
  padding-right: 2vw;
}

.arrow {
  max-width: 5vh;
  max-height: 5vw;
}

.garrow {
  max-width: 5vh;
  max-height: 5vw;
  margin-top: 5px;
}

.text {
  padding-left: 10vw;
  padding-right: 10vw;
}