a {
  color: white;
}

.App {
  text-align: center;
  background-color: #6A1B9A;
  max-width: 100vw;
  max-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 25vh;
  margin-bottom: 12vh;
  max-width: 90vw;
  object-fit: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  margin-bottom: -3vh;
  color: #f48fb1;
}
h5 {
  margin-bottom: 15vh;
}

.imgLink {
  max-height: 10vmin;
}

.imgLinkItem {
  display: inline-block;
  padding-right: 2vmin;
  font-size: calc(10px + 2vmin);
}

.arrow {
  max-width: 5vh;
  max-height: 5vw;
}

.garrow {
  max-width: 5vh;
  max-height: 5vw;
  margin-top: 5px;
}

.text {
  padding-left: 3vmin;
  padding-right: 3vmin;
}

.controls {
  min-width: 90vw;
  max-width: 90vw;
  font-size: calc(11px + 1vmin);
}