/*
  phi95 - An opinionated Windows 95/98 theme for CopyParty
  By: Varphi (https://varphi.online)

  Copy phi95.css into a folder named ".themes" in your webroot and then --themes=10 --theme=9 --css-browser=/.themes/phi95.css 
*/

@font-face {
	    font-family: 'MS Sans Serif';
	    font-display: swap;
  	src: url("https://reatret.net/ms.woff2") format("woff2");       
    }

html.ey {
  /* change the following at the top of html.ey */
	  --font-main: 'MS Sans Serif';
	    --font-serif: 'MS Sans Serif';
	      --font-mono: 'MS Sans Serif';
  --negative-space: 0em; /* Use this to change the global spacing of your theme :) */
  --font-main: consolas;
  --font-serif: consolas;
  --font-mono: consolas;
  --w: #fff;
  --w2: #dfdfdf;
  --w3: grey;
  --fg: #000;
  --fg-max: #0000ff;
  --fg-weak: #0000ff;
  --bg: #c6c3c6;
  --bg-d3: #ff0;
  --bg-d2: #f0f;
  --bg-d1: var(--bg);
  --bg-u2: var(--bg);
  --bg-u3: var(--bg);
  --bg-u5: var(--shadow-color-2);
  --tab-alt: #00f;
  --g-fsel-bg: #00f;
  --g-sel-bg: #00f;
  --g-fsel-b1: #fff;
  --row-alt: var(--w);
  --scroll: var(--w3);
  --f-sel-sh: transparent;
  --a: #000;
  --a-b: #fff;
  --a-hil: #000;
  --a-h-bg: var(--bg);
  --a-dark: var(--a);
  --a-gray: var(--fg-weak);
  --btn-fg: var(--fg);
  --btn-bg: var(--bg);
  --btn-h-fg: var(--fg);
  --btn-h-bg: var(--bg);
  --btn-1-fg: var(--fg);
  --btn-1-bg: var(--bg);
  --txt-sh: a;
  --txt-bg: var(--w2);
  --u2-b1-bg: var(--w2);
  --u2-b2-bg: var(--w2);
  --u2-txt-bg: var(--w2);
  --u2-tab-bg: a;
  --u2-tab-1-bg: var(--w2);
  --sort-1: var(--fg-weak);
  --tree-bg: var(--w);
  --g-b1: a;
  --g-b2: a;
  --g-f-bg: var(--w2);
  --f-sh1: 0.1;
  --f-sh2: 0.02;
  --f-sh3: 0.1;
  --f-h-b1: a;
  --srv-1: var(--w);
  --srv-3: var(--a);
  --mp-sh: a;
  --black: #000;
  --white: #fff;
  --grey: grey;
  --silver: silver;
  --transparent: transparent;
  --shadow-color-1: #0a0a0a;
  --shadow-color-2: #808080;
  --border-dashed-black: 1px dashed var(--black);
  --radius: 0;
  --shadow-outset: inset -1px -1px var(--shadow-color-1),
    inset 1px 1px var(--white), inset -2px -2px var(--grey),
    inset 2px 2px var(--w2);
  --shadow-inset: inset -1px -1px var(--white),
    inset 1px 1px var(--shadow-color-1), inset -2px -2px var(--w2),
    inset 2px 2px var(--shadow-color-2);
  --shadow-input: inset -1px -1px var(--white), inset 1px 1px var(--grey),
    inset -2px -2px var(--w2), inset 2px 2px var(--shadow-color-1);
  --focus-outline: 1px dashed var(--black);
  --hover-outline: 1px dotted var(--black);
}
html.ey #files,
html.ey #u2conf input[type="checkbox"]:hover + label,
html.ey .tgl.btn.on:hover,
html.ey body {
  background: var(--bg);
}
html.ey #pctl a,
html.ey #repl,
html.ey #u2conf a,
html.ey #u2conf input[type="checkbox"] + label,
html.ey #wfp a,
html.ey .btn,
html.ey .eq_step,
html.ey input[type="submit"] {
  box-shadow: var(--shadow-outset);
  border-radius: var(--radius);
  background: var(--bg);
  border: 0;
}
a.s0r,
html.ey #ghead a.s0,
html.ey #u2conf input[type="checkbox"]:checked + label,
html.ey .tgl.btn.on,
html.ey input[type="submit"]:active {
  box-shadow: var(--shadow-inset) !important;
}
html.ey #ops a:hover,
html.ey #pctl a:hover,
html.ey #repl:hover,
html.ey #u2conf a:hover,
html.ey #u2conf input[type="checkbox"]:hover + label,
html.ey #wfp a:hover,
html.ey .btn:hover,
html.ey .eq_step:hover,
html.ey input[type="submit"]:hover {
  outline: var(--hover-outline);
  outline-offset: -4px;
}
html.ey .ntree a:hover,
html.ey :focus,
html.ey :focus + label,
html.ey a:active,
html.ey tr:focus {
  outline: var(--focus-outline) !important;
}
html.ey tr:focus {
  box-shadow: none;
}
html.ey #pctl a:focus,
html.ey #repl:hover,
html.ey #u2conf input[type="checkbox"]:focus + label,
html.ey #wfp a:focus,
html.ey .btn:focus,
html.ey .eq_step:focus {
  border: 0 !important;
  outline: var(--focus-outline) !important;
  outline-offset: 2px;
  box-shadow: var(--shadow-outset) !important;
}
html.ey #files tbody,
html.ey #u2cards a.act {
  box-shadow: var(--shadow-inset);
}
html.ey #files {
  border: 2px groove var(--transparent);
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  top: 0;
  border: 0;
}
html.ey #files tbody tr td,
html.ey #files thead th {
  border-radius: var(--radius);
}
#files td {
  background: var(--w2);
}
html.ey #files tr {
  background-color: var(--black);
}
html.ey #srv_info span,
html.ey label {
  color: var(--black) !important;
}
html.ey #acc_info {
  background: var(--transparent);
  color: var(--white);
  height: 2em;
  left: 1em;
  width: fit-content;
}
html.ey #acc_info,
html.ey #ops,
html.ey #srv_info {
  display: flex;
  align-items: center;
}
html.ey #flogout:before {
  padding-left: 0.2em;
  padding-right: 0.4em;
  content: " | ";
}
html.ey #blogout {
  color: var(--w);
  box-shadow: none;
  background: transparent;
}
html.ey .opwide > div {
  border-left: 1px solid var(--shadow-color-2);
}
html.ey #srv_info {
  background: var(--transparent);
  color: var(--white);
  height: fit-content;
  top: 3.2em;
  left: 1em;
  gap: 0.2em;
}
html.ey #u2cards a.act {
  padding: 0.2em 1em;
}
html.ey #u2btn {
  border: var(--border-dashed-black);
  border-radius: var(--border-radius);
  transform: translateY(30%);
}
html.ey #ops,
html.ey #ops a {
  border-radius: var(--radius);
}
@media only screen and (max-width: 600px) {
  html.ey #acc_info {
    background: var(--transparent);
    color: var(--white);
    height: fit-content;
    align-items: center;
    top: 3.2em;
    right: 1em;
    left: auto;
    display: flex;
    gap: 0.2em;
  }
  html.ey #u2btn {
    transform: none;
  }
}
html.ey #ops {
  background: linear-gradient(90deg, navy, #1084d0);
  box-shadow: inset 0-1px grey, inset 0-2px var(--shadow-color-1);
  height: 2em;
  gap: 0.6em;
  padding: 0.2em;
  flex-direction: row-reverse;
  margin-bottom: 1.2em;
}
html.ey #srch_form,
html.ey .opbox {
  padding-bottom: 1em;
  padding-top: 1em;
  max-width: 100vw;
}
html.ey #ghead,
html.ey #ops a {
  align-items: center;
  display: inline;
}
html.ey #ops a {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  height: 1.4em;
  padding: 0;
  box-shadow: var(--shadow-outset);
  background: var(--bg);
  aspect-ratio: 1/1;
  justify-content: center;
  font-size: 1.25em;
  z-index: 4;
}
html.ey #blogout:focus,
html.ey #ops a:focus {
  outline: 1px dashed var(--w) !important;
}

html.ey #blogout:hover {
  text-decoration: underline;
}

html.ey #ops > a:not(:first-child).act {
  height: 1.4em;
  width: 1.4em;
  padding-bottom: 0.3em;
  margin-top: 0.3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: inset -1px 0 var(--white), inset 1px 1px var(--shadow-color-1),
    inset -2px 0 var(--w2), inset 2px 2px var(--grey);
  z-index: 6;
}
html.ey #ops a.act {
  box-shadow: var(--shadow-inset);
  border-bottom: 0;
}
html.ey a:active {
  border: 0;
}
html.ey :focus,
html.ey :focus + label {
  border: 0 !important;
  outline-offset: 1px;
  border-radius: inherit;
  box-shadow: inherit;
}
html.ey #opa_x {
  text-shadow: 0 0 0 var(--transparent) !important;
  color: var(--bg) !important;
  display: flex;
}
html.ey #opa_x:before {
  content: "⨯";
  color: var(--fg) !important;
  margin-top: -0.1em;
  font-size: 1.75em;
  position: absolute;
}
html.ey .opbox {
  margin: -1.2em 0 0;
  box-shadow: inset -1px -1px var(--white), inset 1px 0 var(--grey),
    inset -2px -2px var(--w2), inset 2px 0 var(--shadow-color-1);
  border-radius: var(--radius);
  z-index: 5;
  background: var(--bg);
}
html.ey #srch_form {
  margin: 0;
  border-radius: var(--radius);
}
html.ey #op_unpost {
  max-width: 100vw;
  margin: 0;
}
html.ey label:focus {
  box-shadow: 0 0;
}
html.ey #tree {
  box-shadow: none;
}
html.ey #tt {
  background: var(--w2);
}
html.ey .mdo a {
  background: 0 0;
  text-decoration: underline;
}
html.ey .mdo code,
html.ey .mdo pre {
  color: var(--white);
  background: var(--w2);
  border: 0;
}
html.ey .mdo h1,
html.ey .mdo h2 {
  background: 0 0;
  border-color: var(--w2);
}
html.ey #tt,
html.ey .mdo ol ol,
html.ey .mdo ol ul,
html.ey .mdo ul ol,
html.ey .mdo ul ul {
  border-color: var(--w2);
}
html.ey .mdo li > em,
html.ey .mdo p > em,
html.ey .mdo td > em {
  color: #fd0;
}
html.ey input.txtbox,
html.ey input[type="text"] {
  background-color: var(--white);
  box-shadow: var(--shadow-input);
  box-sizing: border-box;
  padding: 3px 4px;
  border-radius: var(--radius);
  border: 0;
}
html.ey #gfiles {
  box-shadow: var(--shadow-outset);
  background: var(--bg);
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
html.ey #ggrid {
  background-color: var(--white);
  box-shadow: var(--shadow-input);
  padding: 1.5em;
  margin: 0;
  overflow-x: scroll;
}
html.ey #ghead {
  margin: 0;
  margin-left: auto;
  justify-content: flex-end;
  gap: 0.4em;
  padding: 0;
  overflow: auto;
}
html.ey #ghead a {
  margin: 0;
  border-radius: var(--radius);
}
html.ey ::-webkit-scrollbar,
html.ey::-webkit-scrollbar {
  width: 16px !important;
  height: 16px !important;
  background: var(--transparent) !important;
}
html.ey ::-webkit-scrollbar-button,
html.ey ::-webkit-scrollbar-thumb,
html.ey::-webkit-scrollbar-button,
html.ey::-webkit-scrollbar-thumb {
  width: 16px !important;
  height: 16px !important;
  background: var(--silver) !important;
  box-shadow: inset 1px 1px var(--w2), inset -1px -1px var(--grey) !important;
  border: 1px solid !important;
  border-color: var(--silver) var(--black) var(--black) var(--silver) !important;
}
html.ey ::-webkit-scrollbar-track,
html.ey::-webkit-scrollbar-track {
  image-rendering: optimize-contrast !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+) !important;
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  background-size: 2px !important;
  background: var(--w);
}
#tree::-webkit-scrollbar,
#tree::-webkit-scrollbar-track {
  background: var(--w);
}
html.ey ::-webkit-scrollbar-button,
html.ey::-webkit-scrollbar-button {
  background-repeat: no-repeat !important;
  background-size: 16px !important;
}
html.ey ::-webkit-scrollbar-button:single-button:vertical:decrement,
html.ey::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=) !important;
}
html.ey ::-webkit-scrollbar-button:single-button:vertical:increment,
html.ey::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=) !important;
}
html.ey ::-webkit-scrollbar-button:single-button:horizontal:decrement,
html.ey::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=) !important;
}
html.ey ::-webkit-scrollbar-button:single-button:horizontal:increment,
html.ey::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=) !important;
}
html.ey ::-webkit-scrollbar-corner,
html.ey::-webkit-scrollbar-corner {
  background: var(--silver) !important;
}
html,
html.ey #tree {
  scrollbar-color: inherit !important;
}
html.ey #tree {
  background: var(--bg);
  padding-left: 0.4em;
  padding-top: 0;
  margin-left: var(--negative-space);
}
html.ey.noscroll #tree {
  box-shadow: 1px 1px var(--grey), 2px 2px var(--shadow-color-1),
    inset 1px 1px var(--white), inset 2px 2px var(--w2);
}
html.ey #treeh {
  background: var(--bg);
  box-shadow: inset 0-1px var(--shadow-color-1), inset 0 1px var(--white),
    inset 0-2px var(--grey), inset 0 2px var(--w2);
  width: calc(1.5em + var(--nav-sz) - var(--sbw));
  height: 2.4em;
}
html.ey #tree ul {
  border-left: var(--border-dashed-black);
  margin-left: 2.15em;
}
html.ey .ntree a:first-child {
  font-family: scp, monospace, monospace;
  font-size: 1.2em;
  line-height: 0;
  background: var(--white);
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
  border-radius: var(--radius) !important;
  padding: 0.057em;
  border: 1px solid var(--black);
}
html.ey .ntree a:first-child:after {
  content: ".";
  position: absolute;
  border-top: var(--border-dashed-black);
  color: var(--transparent);
  font-size: 0.9em;
  margin-left: 0.13em;
}
html.ey #treeul {
  border: 0 !important;
  position: static;
  margin: 0 !important;
  min-height: 100%;
  height: max-content;
}
html.ey .ntree a:last-of-type:before {
  content: "📁";
  margin-left: 0.3em;
}
html.ey .ntree {
  padding-left: 1em !important;
  padding-top: 0.3em !important;
  background: var(--w);
  box-shadow: inset -1px -1px var(--white), inset 1px 0 var(--shadow-color-1),
    inset -2px -2px var(--w2), inset 2px 0 var(--shadow-color-2);
}
html.ey #tree li {
  margin-left: -0.5em;
  border-top: 0;
}
html.ey .ntree a:hover {
  outline-offset: -2px;
  color: var(--black);
}
html.ey #treepar {
  width: calc(-1em + var(--nav-sz) - var(--sbw));
  overflow: hidden;
  left: -0.7em;
  box-shadow: inset 2px 2px var(--shadow-color-1);
  border-left: 0 !important;
  border-bottom: var(--border-dashed-black);
  margin-left: calc(2.1em - (1em - var(--negative-space))) !important;
}
html.ey #path,
html.ey #widgeti,
html.ey #wtoggle,
html.ey #wtoggle a,
html.ey #files,
html.ey #files thead th,
html.ey #ghead a,
html.ey #tree {
  box-shadow: var(--shadow-outset);
}
html.ey.noscroll #treepar {
  width: calc(var(--nav-sz) - 1em);
}
html.ey #docul {
  border-left: 0 !important;
  margin-left: 0 !important;
}
html.ey #wrap {
  transform: translateX(calc((var(--negative-space) * 2) - 1.2em - 3px));
  padding-right: var(--negative-space);
  position: relative;
  margin-right: calc((var(--negative-space) * 2) - 1.2em - 3px);
  margin-top: var(--negative-space);
  margin-left: 1.2em;
}
html.ey input[type="radio"] {
  accent-color: #232323;
}
html.ey #path {
  width: calc(100% - 0.4em);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.2em;
  overflow-x: auto;
}
html.ey #path i {
  border: 1px solid var(--w);
  border-color: var(--w);
  margin: 0;
  border-width: 0.1em 0.1em 0 0;
  height: 0.5em;
  width: 0.5em;
}
html.ey #hovertree:after {
  color: red;
  content: "BUGGY";
}
html.ey #widget {
  box-shadow: 0 0;
  border: 0 !important;
}
html.ey #wtico,
html.ey #zip1 {
  box-shadow: 0 0 !important;
}
html.ey #wtgrid {
  top: -0.09em;
}
html.ey #wfs,
html.ey #wm3u,
html.ey #wnp,
html.ey #wzip {
  border-width: 0 1px 0 0;
}
html.ey #wfm.act + #wzip1 + #wzip,
html.ey #wfm.act + #wzip1 + #wzip + #wnp {
  border-left-width: 1px;
}
html.ey #barpos {
  border-radius: var(--radius);
  box-shadow: var(--shadow-inset);
}
html.ey #goh + span {
  border-left: 0.1em solid var(--bg-u5);
}
html.ey #wfp {
  margin: var(--negative-space);
  font-size: 0;
  display: inline-block;
}
html.ey #wfp a {
  font-size: large;
  display: inline-block;
}
html.ey #repl {
  font-size: large;
  padding: 0.33em;
  right: calc(var(--negative-space) * 0.89);
  position: absolute;
}
